
@import "./variables.scss";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/****************RESPONSIVE DESIGN ATTRS*****************/

@media screen and (min-width: 690px) {
  /* start of web styles */
  [responsive-mobile] {
    display: none !important;
  }

}

@media screen and (max-width: 689px) {
  /* start of mobile styles */
  [responsive-default] {
    display: none !important;
  }
}


body{
  border-top: 20px solid $primary;
  background-color: #FAFAFA !important;
  font-size: 20px;
  color: black;
  font-Family:Roboto, "Helvetica Neue", sans-serif;
}